<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testInterface" class="httpClient.component.httpInvokerFactory">
        <property name="type" value="httpClient.httpInterface.testInterface"/>
    </bean>

    <bean id="testService" class="test.wzc.testService"/>




</beans>
